### Question 1

Consider the following Python module:
a = 0

def b():

global a

a = c(a)

def c(a):

return a + 2

After importing the module into the interpreter, you execute:

b()

b()

b()

a

?

What value is displayed when the last expression (a) is evaluated? Explain your Banswer by indicating what happens in every executed statement

In [3]:
a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

Since varibale a is defined as global inside the function its value keep on adding up and gives a final result as 6
each time 2 is added

b() then a is 0 + 2 = 2

b() then a is 2 + 2 = 4

b() then a is 4 + 2 = 6

a is 6 finally

### Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:  
fileLength('midterm.py')  
284  
fileLength('idterm.py')  
Traceback (most recent call last):  
File "<pyshell#34>", line 1, in <module>  
fileLength('idterm.py')     
File "/Users/me/midterm.py", line 3, in fileLength     
infile = open(filename)      
FileNotFoundError: [Errno 2] No such file or directory:'idterm.py'  

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:     
fileLength('midterm.py')  
358    
fileLength('idterm.py')     
File idterm.py not found.

In [9]:
def fileLength(filename):
    try:
        infile = open(filename)
        contents = infile.read()
        infile.close()
        return len(contents)
    except:
        print("File " + filename+ " not found.")

In [10]:
fileLength("200505419 - Problem Set 1.ipynb")

10792

In [11]:
fileLength("00505419 - Problem Set 1.ipynb")

File 00505419 - Problem Set 1.ipynb not found.

### Question 3

Write a class named Marsupial that can be used as shown below:  
m = Marsupial()  
m.put_in_pouch('doll')  
m.put_in_pouch('firetruck')  
m.put_in_pouch('kitten')  
m.pouch_contents()  
['doll', 'firetruck', 'kitten']  
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:  
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,  
b. supports method jump that takes number values dx and dy as input and movesthe kangaroo by dx units along the x-axis and by dy units along the yaxis, and  
c. overloads the __str__ operator so it behaves as shown below.  
k = Kangaroo(0,0)  
print(k)  
I am a Kangaroo located at coordinates (0,0)  
k.put_in_pouch('doll')  
k.put_in_pouch('firetruck')  
k.put_in_pouch('kitten')  
k.pouch_contents()  
['doll', 'firetruck', 'kitten']  
k.jump(1,0)  
k.jump(1,0)  
k.jump(1,0)  
print(k)  
I am a Kangaroo located at coordinates (3,0)

In [47]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a kangaroo located at coordinates ({self.x},{self.y})"

In [48]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [49]:
k = Kangaroo(0,0)
print(k)

I am a kangaroo located at coordinates (0,0)

In [50]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

['doll', 'firetruck', 'kitten']

In [51]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates (3,0)

### Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:  
x = {𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥  
     +1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑  
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [58]:
def collatz(x):
    if x == 1:
        return 1
    if x % 2 == 0:
        print(x)
        return collatz(x/2)
    else:
        print(x)
        return collatz(x+1)

In [59]:
collatz(1)

1

In [60]:
collatz(10)

10
5.0
6.0
3.0
4.0
2.0

1

### Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [62]:
def binary(n): 
  
    if n > 1: 
        binary(n//2) 
    print(n % 2,end = '')

In [64]:
dec = int(input("Enter an integer: ")) 

binary(dec)

Enter an integer: 5
101

### Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the
document.Each heading should be indented asfollows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.  
infile = open('w3c.html')  
content = infile.read()  
infile.close()  
hp = HeadingParser()  
hp.feed(content)  
W3C Mission  
Principles

In [38]:
from html.parser import HTMLParser  
# Inherit from Html parser 
class HeadingParser(HTMLParser):     
    # Define the headings     
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']      
    # Handle the functions     
    def handle_starttag(self, tag, attrs):         
        if tag in self.headers:             
            print(tag)      
            
    def handle_endtag(self, tag):         
        if tag in self.headers:             
            print(tag)      
            
    def handle_data(self, data):         
        print(data)  
# TEST HERE 
parser = HeadingParser() 
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
hp = HeadingParser() 
hp.feed(content)

W3C














h1
W3C Mission
h1


h2
Principles
h2

### Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)  
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html  
    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html  
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html  
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html  
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [34]:
def webdir(url, depth, indent):
    if depth == 0:
        print(indent*"  "+url)
        return
    else:
        print(indent*"  "+url)
        webdir(url, depth-1, indent+1)

In [35]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
  http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

### Question 8

Write SQL queries on the below database table that return:

a) All the temperature data.

In [7]:
import sqlite3

con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather (City,Country,Season,Temperature,Rainfall)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

In [8]:
cur.execute ("select * from Weather")
for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

b) All the cities, but without repetition

In [9]:
cur.execute ("select DISTINCT City from Weather")
for record in cur:
    print(record)

('Mumbai',)
('London',)
('Cairo',)

c) All the records for India

In [11]:
cur.execute ("select * from Weather where Country='India';")
for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records.

In [12]:
cur.execute ("select * from Weather where Season='Fall';")
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [17]:
cur.execute ("SELECT City,Country,Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400;")
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [18]:
cur.execute ("SELECT City,Country FROM Weather WHERE Season='Fall' and Temperature > 20 order by Temperature ASC;")
for record in cur:
    print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

g) The total annual rainfall for Cairo.

In [24]:
cur.execute ("SELECT SUM(Rainfall) FROM Weather WHERE City='Cairo';")
for record in cur:
    print(record)

(27.6,)

h) The total rainfall for each season.

In [27]:
cur.execute ("SELECT Season,SUM(Rainfall) FROM Weather GROUP BY Season;")
for record in cur:
    print(record)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

### Question 9

Suppose list words is defined as follows:  
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']  
Write list comprehension expressions that use list words and generate the following lists:  
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']  
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']  
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).  
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)  
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [28]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog'] 
[x.upper() for x in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [29]:
[x.lower() for x in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [30]:
[len(x) for x in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [32]:
[[x.upper(),x.lower(),len(x)] for x in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [33]:
[x for x in words if len(x) > 3]

['quick', 'brown', 'jumps', 'over', 'lazy']